.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    color: var(--text-negative);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.price {
    color: var(--text-tint-1);
    font-weight: 400;
    font-size: 29px;
    line-height: 32px;
}

.image {
    object-fit: cover;
}


