.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding-top: 112px;
    width: fit-content;
}

.button {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--background-positive);
    border: none;
}

.button.prev {
    left: -24px
}

.button.next {
    right: -24px;
}

.number {
    color: var(--text-tint-3);
    font-weight: 400;
    font-size: 29px;
    line-height: 32px;
}

.number.active {
    color: var(--text-negative);
}

@media screen and (max-width: 768px) {
    .root {
        padding-top: 88px;
    }
}
