.root {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 268px;
}

.label {
    color: var(--text-negative);
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 768px) {
}


