.root {
   display: grid;
   grid: 'title title title . button button'
   'media media media media media media'
   'info info info recommendations recommendations recommendations'
   'info info info . details details';
   grid-template-columns: repeat(6, 1fr);
   row-gap: 32px;
   padding: 62px 0 42px;
   width: 100%;
}

.title {
   grid-area: title;
   display: flex;
   align-items: center;
   color: var(--text-negative);
   font-size: 32px;
   line-height: 36px;
   font-weight: 700;
}

.buttonHolder {
   grid-area: button;
   max-width: 258px;
   margin-left: auto;
}

.mediaWrapper {
   grid-area: media;
   position: relative;
   display: block;
   width: 100%;
   height: 554px;
   overflow: hidden;
}

.image {
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   object-position: center;
}

.featured {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 24px 44px;
   background-color: var(--background-positive);
   color: var(--text-negative);
   font-size: 20px;
   line-height: 24px;
   z-index: 1;
}

.infoWrapper {
   grid-area: info;
}

.subtitle {
   display: block;
   margin-bottom: 8px;
   color: var(--text-negative);
   font-weight: 700;
   font-size: 22px;
   line-height: 24px;
}

.category {
   display: block;
   margin-bottom: 12px;
   color: var(--text-tint-1);
   font-weight: 700;
   font-size: 22px;
   line-height: 24px;
}

.description {
   color: var(--text-tint-1);
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
}

.recommendations {
   grid-area: recommendations;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.recommendedImages {
   display: flex;
   gap: 30px;
   flex-wrap: nowrap;
   align-items: center;
   margin-top: 20px;
   overflow: hidden;
}

.recommendedImages > img {
   flex: 1;
   object-fit: cover;
   width: 118px;
   max-width: 100%;
   max-height: 100%;
}

.details {
   grid-area: details;
   display: flex;
   gap: 8px;
   flex-direction: column;
   align-items: flex-end;
}

.details > span {
   margin: 0;

}

.detail {
   color: var(--text-tint-1);
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}

@media screen and (max-width: 768px) {
   .root {
      grid: 'title' 'media' 'button' 'info' 'recommendations' 'details';
      grid-template-columns: 1fr;
      row-gap: 32px;
      padding: 32px 0 42px;
      width: 100%;
   }

   .mediaWrapper {
      height: 240px;
   }

   .featured {
      font-size: 16px;
      line-height: 20px;
   }

   .buttonHolder {
      max-width: 100%;
      width: 100%;
   }

   .details, .recommendations {
      align-items: flex-start;
   }

   .detail {
      font-size: 22px;
      line-height: 24px;
   }

}


