.root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 'heading heading heading sorting'
    'filtering items items items';
    row-gap: 62px;
    column-gap: 48px;
    padding: 68px 0;
}

.heading {
    grid-area: heading;
    display: flex;
}

.heading > * {
    font-size: 30px;
    line-height: 34px;
}

.title {
    margin-right: 10px;
    color: var(--text-negative);
    font-weight: 700;
}

.subtitle {
    color: var(--text-tint-1);
    font-weight: 400;
}

.sorting {
    grid-area: sorting;
}

.filtering {
    grid-area: filtering;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 268px;
    max-width: 268px;
}

.itemsContainer {
    grid-area: items;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 52px;
    column-gap: 48px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.error > h4 {
    color: var(--text-tint-1);
    font-size: 30px;
    line-height: 34px;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .items {
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        grid: 'heading sorting' 'items items';
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .items {
        grid-template-columns: 1fr;
        column-gap: 32px;
    }

    .filtering, .sorting {
        display: none;
    }

    .heading > * {
        font-size: 18px;
        line-height: 20px;
    }
}


