.root {
   position: fixed;
   top: 0;
   left: 50%;
   max-width: 1334px;
   width: 100%;
   padding: 0 22px;
   height: 124px;
   background-color: var(--background-positive);
   transform: translateX(-50%);
   z-index: 3;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   border-bottom: 4px solid var(--background-tint-1);
}

.image {
   object-fit: contain;
}

@media screen and (max-width: 768px) {
   .root {
      height: 92px
   }

   .logo {
      width: 124px;
      height: 20px;
   }
}
