.root {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: transparent;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}

.label {
    color: var(--text-tint-1);
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    margin-right: 16px;
}

.select {
    font-size: 22px;
    line-height: 24px;
    border: none;
}

.select:focus-visible {
    outline: none;
}

@media screen and (max-width: 768px) {
}


