@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text-positive: #ffffff;
  --text-negative: #000000;
  --text-tint-1: #656565;
  --text-tint-2: #1d1d1d;
  --text-tint-3: #b4b4b4;
  --background-positive: #ffffff;
  --background-negative: #000000;
  --background-tint-1: #E4E4E4;

  --radius-base: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Archivo', sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  max-width: 1334px;
  padding: 124px 22px 0;
  margin: 0 auto;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 92px;
  }
}
