.root {
    display: block;
    width: 100%;
    height: 100%;
}

.mediaContainer {
    position: relative;
    margin-bottom: 8px;
}

.mediaContainer:hover .button, .mediaContainer:active .button {
    display: block;
}

.image {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 1 / 1.4;
}

.bestseller {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 20px;
    background-color: var(--background-positive);
    color: var(--text-negative);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.button {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.category {
    color: var(--text-tint-1);
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.name {
    max-width: 256px;
    color: var(--text-negative);
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    color: var(--text-tint-1);
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    .image {
        height: 502px;
    }
}
