.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid;
    border-radius: var(--radius-base);
    cursor: pointer;
}

.cta.primary {
    background-color: var(--background-negative);
    color: var(--text-positive);
    border-color: var(--background-negative);
}

.cta.secondary {
    background-color: var(--background-positive);
    color: var(--text-negative);
    border-color: var(--background-negative);
}
