.root {
  display: block;
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: 1290px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  position: absolute;
  display: block;
  padding: 64px 24px 22px;
  background-color: var(--background-positive);
  border: 4px solid var(--background-tint-1);
  z-index: 3;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-left {
  top: 120px;
  left: 0;
}

.top-right {
  top: 120px;
  right: 0;
}

.bottom-left {
  bottom: 120px;
  left: 0;
}

.bottom-right {
  bottom: 60px;
  right: 0;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;
}
