.root {
    position: relative;
}

.cartWrapper {
    position: relative;
    height: fit-content;
    border: none;
    background: transparent;
}

.counter {
    position: absolute;
    top: 46px;
    left: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    min-width: 26px;
    background-color: var(--background-negative);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: var(--text-positive);
}

.popup {
    position: absolute;
    right: 0;
    top: 88px;
    padding: 64px 24px 22px;
    min-width: 444px;
    min-height: 246px;
    background-color: var(--background-positive);
    border: 4px solid var(--background-tint-1);
    z-index: 3;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background: transparent;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 460px;
    overflow-y: auto;
}

.clear {
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid var(--background-tint-1);
}

.emptyCart {
    margin: 36px auto 0;
    color: var(--text-tint-1);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cart {
        width: 32px;
        height: 32px;
    }

    .counter {
        top: 24px;
        left: 24px;
        font-size: 12px;
        min-width: 16px;
        line-height: 14px;
    }

    .popup {
        min-width: 346px;
    }
}
