.root {
    display: flex;
    gap: 24px;
}

.checkbox {
    display: inline-block;
    vertical-align: top;
    position: relative;
    flex: none;
    width: 24px;
    height: 24px;
}

.control {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
}

.label {
    color: var(--text-tint-2);
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
}

